<a href="https://colab.research.google.com/github/Dikshagupta1994/code-for-grid-search-cv/blob/main/question_answer_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
#BERT Fine-tuning and Prediction on SQUAD 2.0
#BERT, or Bidirectional Embedding Representations from Transformers, is a new method of pre-training 
#language representations which obtains state-of-the-art results on a wide array of Natural Language Processing (NLP) tasks. 
#The academic paper can be found here

In [30]:
!pip install transformers==4.25.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers==4.25.1 in /usr/local/lib/python3.9/dist-packages (4.25.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.10.0 in /usr/local/lib/python3.9/dist-packages (from transformers==4.25.1) (0.13.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers==4.25.1) (3.9.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers==4.25.1) (23.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from transformers==4.25.1) (1.22.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from transformers==4.25.1) (2.25.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers==4.25.1) (0.13.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers==4.25.1) (2022.6.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers==4.25.1) (6.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.9/dist-packages (from transformers==4.25.1) (4.65.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub<1.0,>=0.10.0->transformers==4.25.1) (4.5.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->transformers==4.25.1) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->transformers==4.25.1) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->transformers==4.25.1) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->transformers==4.25.1) (2022.12.7)

In [31]:
#download the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import torch
from transformers import BertForQuestionAnswering
from transformers import BertTokenizer

In [32]:
SQuAD = pd.read_json('https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v2.0.json')
SQuAD.head()

  version                                               data
0    v2.0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1    v2.0  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2    v2.0  {'title': 'Sino-Tibetan_relations_during_the_M...
3    v2.0  {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4    v2.0  {'title': 'The_Legend_of_Zelda:_Twilight_Princ...

In [33]:
del SQuAD["version"]

In [34]:
#convert into csv format
cols = ["text","question","answer"]

comp_list = []
for index, row in SQuAD.iterrows():
    for i in range(len(row['data']['paragraphs'])):
        for j in (row['data']['paragraphs'][i]['qas']):
            temp_list = []
            temp_list.append((row["data"]["paragraphs"][i]["context"]))
            temp_list.append(j['question'])
            if j["answers"]:
                temp_list.append(j["answers"][0]["text"])
            else:
                temp_list.append("")
        comp_list.append(temp_list)
new_df = pd.DataFrame(comp_list, columns=cols)

In [35]:
new_df.to_csv("SQuAD_data.csv", index=False)

In [36]:
data = pd.read_csv("SQuAD_data.csv")
data.head()

,text,question,answer
0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What was the name of Beyoncé's first solo album?,Dangerously in Love
1,Following the disbandment of Destiny's Child i...,What is the name of Beyoncé's alter-ego?,Sasha Fierce
2,"A self-described ""modern-day feminist"", Beyonc...",What magazine named Beyoncé as the most powerf...,Forbes
3,"Beyoncé Giselle Knowles was born in Houston, T...",Beyoncé was raised in what religion?,Methodist
4,Beyoncé attended St. Mary's Elementary School ...,What choir did Beyoncé sing in for two years?,St. John's United Methodist Church

In [37]:
print("Number of question and answers: ", len(data))

Number of question and answers:  19035

In [40]:
#Download the BERT PRETRAINED MODEL
model = BertForQuestionAnswering.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')
tokenizer = BertTokenizer.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')

In [41]:
random_num = np.random.randint(0,len(data))

question = data["question"][random_num]
text = data["text"][random_num]

In [42]:
print(question, "\n", text)

What did Baltica collide with to form the equator?
 The British Isles lie at the juncture of several regions with past episodes of tectonic mountain building. These orogenic belts form a complex geology that records a huge and varied span of Earth's history. Of particular note was the Caledonian Orogeny during the Ordovician Period, c. 488–444 Ma and early Silurian period, when the craton Baltica collided with the terrane Avalonia to form the mountains and hills in northern Britain and Ireland. Baltica formed roughly the northwestern half of Ireland and Scotland. Further collisions caused the Variscan orogeny in the Devonian and Carboniferous periods, forming the hills of Munster, southwest England, and southern Wales. Over the last 500 million years the land that forms the islands has drifted northwest from around 30°S, crossing the equator around 370 million years ago to reach its present northern latitude.

In [43]:
#toknies our data
input_ids = tokenizer.encode(question, text)
print("The input has a total of {} tokens.".format(len(input_ids)))

The input has a total of 192 tokens.

In [44]:
#tokens and their id
tokens = tokenizer.convert_ids_to_tokens(input_ids)

for token, id in zip(tokens, input_ids):
    print('{:8}{:8,}'.format(token,id))

[CLS]        101
what       2,054
did        2,106
baltic    11,275
##a        2,050
col        8,902
##lide    24,198
with       2,007
to         2,000
form       2,433
the        1,996
equator   26,640
?          1,029
[SEP]        102
the        1,996
british    2,329
isles     14,195
lie        4,682
at         2,012
the        1,996
jun       12,022
##cture   14,890
of         1,997
several    2,195
regions    4,655
with       2,007
past       2,627
episodes   4,178
of         1,997
te         8,915
##cton    28,312
##ic       2,594
mountain   3,137
building   2,311
.          1,012
these      2,122
oro       20,298
##genic   16,505
belts     18,000
form       2,433
a          1,037
complex    3,375
geology   13,404
that       2,008
records    2,636
a          1,037
huge       4,121
and        1,998
varied     9,426
span       8,487
of         1,997
earth      3,011
'          1,005
s          1,055
history    2,381
.          1,012
of         1,997
particular   3,327
note       3,602
was        2,001
the        1,996
caledonian  27,449
oro       20,298
##geny    17,487
during     2,076
the        1,996
or         2,030
##do       3,527
##vic      7,903
##ian      2,937
period     2,558
,          1,010
c          1,039
.          1,012
48         4,466
##8        2,620
–          1,516
44         4,008
##4        2,549
ma         5,003
and        1,998
early      2,220
si         9,033
##lu       7,630
##rian     6,862
period     2,558
,          1,010
when       2,043
the        1,996
cr        13,675
##aton    22,436
baltic    11,275
##a        2,050
collided  17,745
with       2,007
the        1,996
terra     14,403
##ne       2,638
avalon    18,973
##ia       2,401
to         2,000
form       2,433
the        1,996
mountains   4,020
and        1,998
hills      4,564
in         1,999
northern   2,642
britain    3,725
and        1,998
ireland    3,163
.          1,012
baltic    11,275
##a        2,050
formed     2,719
roughly    5,560
the        1,996
northwestern   7,855
half       2,431
of         1,997
ireland    3,163
and        1,998
scotland   3,885
.          1,012
further    2,582
collisions  28,820
caused     3,303
the        1,996
var       13,075
##is       2,483
##can      9,336
oro       20,298
##geny    17,487
in         1,999
the        1,996
devon      7,614
##ian      2,937
and        1,998
carbon     6,351
##iferous  23,930
periods    6,993
,          1,010
forming    5,716
the        1,996
hills      4,564
of         1,997
munster   11,348
,          1,010
southwest   4,943
england    2,563
,          1,010
and        1,998
southern   2,670
wales      3,575
.          1,012
over       2,058
the        1,996
last       2,197
500        3,156
million    2,454
years      2,086
the        1,996
land       2,455
that       2,008
forms      3,596
the        1,996
islands    3,470
has        2,038
drifted   10,070
northwest   4,514
from       2,013
around     2,105
30         2,382
##°        7,737
##s        2,015
,          1,010
crossing   5,153
the        1,996
equator   26,640
around     2,105
370       16,444
million    2,454
years      2,086
ago        3,283
to         2,000
reach      3,362
its        2,049
present    2,556
northern   2,642
latitude  15,250
.          1,012
[SEP]        102

In [45]:
#first occurence of [SEP] token
sep_idx = input_ids.index(tokenizer.sep_token_id)
print(sep_idx)

#number of tokens in segment A - question
num_seg_a = sep_idx+1
print(num_seg_a)

#number of tokens in segment B - text
num_seg_b = len(input_ids) - num_seg_a
print(num_seg_b)

segment_ids = [0]*num_seg_a + [1]*num_seg_b
print(segment_ids)

assert len(segment_ids) == len(input_ids)

13
14
178
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [46]:
#token input_ids to represent the input
#token segment_ids to differentiate our segments - text and question 
output = model(torch.tensor([input_ids]), token_type_ids=torch.tensor([segment_ids]))
#print(output.start_logits, output.end_logits)

In [47]:
#tokens with highest start and end scores
answer_start = torch.argmax(output.start_logits)
answer_end = torch.argmax(output.end_logits)
#print(answer_start, answer_end)

In [48]:
if answer_end >= answer_start:
    answer = " ".join(tokens[answer_start:answer_end+1])
else:
    print("I am unable to find the answer to this question. Can you please ask another question?")
    
print("Text:\n{}".format(text.capitalize()))
print("\nQuestion:\n{}".format(question.capitalize()))
print("\nAnswer:\n{}.".format(answer.capitalize()))

Text:
The british isles lie at the juncture of several regions with past episodes of tectonic mountain building. these orogenic belts form a complex geology that records a huge and varied span of earth's history. of particular note was the caledonian orogeny during the ordovician period, c. 488–444 ma and early silurian period, when the craton baltica collided with the terrane avalonia to form the mountains and hills in northern britain and ireland. baltica formed roughly the northwestern half of ireland and scotland. further collisions caused the variscan orogeny in the devonian and carboniferous periods, forming the hills of munster, southwest england, and southern wales. over the last 500 million years the land that forms the islands has drifted northwest from around 30°s, crossing the equator around 370 million years ago to reach its present northern latitude.

Question:
What did baltica collide with to form the equator?

Answer:
Terra ##ne avalon ##ia.

In [49]:
#Code to join the broken words
answer = tokens[answer_start]

for i in range(answer_start+1, answer_end+1):
    if tokens[i][0:2] == "##":
        answer += tokens[i][2:]
    else:
        answer += " " + tokens[i]

In [50]:
def question_answer(question, text):
    
    #tokenize question and text in ids as a pair
    input_ids = tokenizer.encode(question, text)
    
    #string version of tokenized ids
    tokens = tokenizer.convert_ids_to_tokens(input_ids)
    
    #segment IDs
    #first occurence of [SEP] token
    sep_idx = input_ids.index(tokenizer.sep_token_id)

    #number of tokens in segment A - question
    num_seg_a = sep_idx+1

    #number of tokens in segment B - text
    num_seg_b = len(input_ids) - num_seg_a
    
    #list of 0s and 1s
    segment_ids = [0]*num_seg_a + [1]*num_seg_b
    
    assert len(segment_ids) == len(input_ids)
    
    #model output using input_ids and segment_ids
    output = model(torch.tensor([input_ids]), token_type_ids=torch.tensor([segment_ids]))
    
    #reconstructing the answer
    answer_start = torch.argmax(output.start_logits)
    answer_end = torch.argmax(output.end_logits)

    if answer_end >= answer_start:
        answer = tokens[answer_start]
        for i in range(answer_start+1, answer_end+1):
            if tokens[i][0:2] == "##":
                answer = ""
            else:
                answer += " " + tokens[i]
                
    if answer.startswith("[CLS]"):
        answer = "Unable to find the answer to your question."
    
#     print("Text:\n{}".format(text.capitalize()))
#     print("\nQuestion:\n{}".format(question.capitalize()))
    print("\nAnswer:\n{}".format(answer.capitalize()))

In [51]:
text = """New York (CNN) -- More than 80 Michael Jackson collectibles -- including the late pop star's famous rhinestone-studded glove from a 1983 performance -- were auctioned off Saturday, reaping a total $2 million. Profits from the auction at the Hard Rock Cafe in New York's Times Square crushed pre-sale expectations of only $120,000 in sales. The highly prized memorabilia, which included items spanning the many stages of Jackson's career, came from more than 30 fans, associates and family members, who contacted Julien's Auctions to sell their gifts and mementos of the singer. Jackson's flashy glove was the big-ticket item of the night, fetching $420,000 from a buyer in Hong Kong, China. Jackson wore the glove at a 1983 performance during \"Motown 25,\" an NBC special where he debuted his revolutionary moonwalk. Fellow Motown star Walter \"Clyde\" Orange of the Commodores, who also performed in the special 26 years ago, said he asked for Jackson's autograph at the time, but Jackson gave him the glove instead. "The legacy that [Jackson] left behind is bigger than life for me,\" Orange said. \"I hope that through that glove people can see what he was trying to say in his music and what he said in his music.\" Orange said he plans to give a portion of the proceeds to charity. Hoffman Ma, who bought the glove on behalf of Ponte 16 Resort in Macau, paid a 25 percent buyer's premium, which was tacked onto all final sales over $50,000. Winners of items less than $50,000 paid a 20 percent premium."""
question = "Where was the Auction held?"

question_answer(question, text)

Answer:
Hard rock cafe in new york ' s times square

In [25]:
#Playing with the chatbot

In [53]:
text = input("Please enter your text: \n")
question = input("\nPlease enter your question: \n")

while True:
    question_answer(question, text)
    
    flag = True
    flag_N = False
    
    while flag:
        response = input("\nDo you want to ask another question based on this text (Y/N)? ")
        if response[0] == "Y":
            question = input("\nPlease enter your question: \n")
            flag = False
        elif response[0] == "N":
            print("\nBye!")
            flag = False
            flag_N = True
            
    if flag_N == True:
        break

Please enter your text:
New York (CNN) -- More than 80 Michael Jackson collectibles -- including the late pop star's famous rhinestone-studded glove from a 1983 performance -- were auctioned off Saturday, reaping a total $2 million. Profits from the auction at the Hard Rock Cafe in New York's Times Square crushed pre-sale expectations of only $120,000 in sales. The highly prized memorabilia, which included items spanning the many stages of Jackson's career, came from more than 30 fans, associates and family members, who contacted Julien's Auctions to sell their gifts and mementos of the singer. Jackson's flashy glove was the big-ticket item of the night, fetching $420,000 from a buyer in Hong Kong, China. Jackson wore the glove at a 1983 performance during \"Motown 25,\" an NBC special where he debuted his revolutionary moonwalk. Fellow Motown star Walter \"Clyde\" Orange of the Commodores, who also performed in the special 26 years ago, said he asked for Jackson's autograph at the time, but Jackson gave him the glove instead. "The legacy that [Jackson] left behind is bigger than life for me,\" Orange said. \"I hope that through that glove people can see what he was trying to say in his music and what he said in his music.\" Orange said he plans to give a portion of the proceeds to charity. Hoffman Ma, who bought the glove on behalf of Ponte 16 Resort in Macau, paid a 25 percent buyer's premium, which was tacked onto all final sales over $50,000. Winners of items less than $50,000 paid a 20 percent premium.

Please enter your question:
when was auction held?

Answer:
Saturday

Do you want to ask another question based on this text (Y/N)? Y

Please enter your question:
where was auction held?

Answer:
Hard rock cafe in new york ' s times square

Do you want to ask another question based on this text (Y/N)? Y

Please enter your question:
Who bought the glove?

Answer:
Hoffman ma

Do you want to ask another question based on this text (Y/N)? N

Bye!